/* common props */
html {
  height: 100%;
}
body {
  height: inherit;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: grid;
  grid-template-rows: 1fr 14fr;
}

button {
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
}
img {
  height: 7vh;
  width: 7vh;
}
/* targeted props */
.header {
  /* height: 7vh; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.header button {
  align-self: end;
  transition: 1s;
}

.startGame {
  background-color: rgb(164, 252, 223);
}
.resetGame {
  background-color: rgb(255, 180, 218);
}

button:hover {
  background-color: rgb(255, 88, 88);
  transition: 0.5s;
}

.Logo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  column-gap: 20px;
}

.Logo p {
  font-size: 1.5rem;
  margin: auto;
  text-decoration: line-through;
}

.content {
  display: grid;
  grid-template-rows: minmax(400px, 1fr);
  grid-template-columns: minmax(400px, 1fr);
  background-color: cadetblue;
}
/*  */
/* transition: 2s; */
/*  */
.gameBoardDiv {
  align-self: center;
  justify-self: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 400px;
  height: 400px;
  background-color: aqua;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.item {
  background-color: blue;
}

.gameBoardDiv > div {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
}

.gameBoardDiv > div:hover {
  background-color: yellow;
  transform: scale(1.2);
}

.winner {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 4rem;
  background-color: rgb(194, 94, 94, 0.9);
}
